@using Microsoft.AspNet.Identity
@using ReservationFinal.DATA.EF

@if (Request.IsAuthenticated)
{
    ReservationFinalEntities db = new ReservationFinalEntities();
    string userID = User.Identity.GetUserId();
    UserDetail currentUser = db.UserDetails.Where(details => details.UserID == userID).FirstOrDefault();

    string userName = "Guest";

    if (currentUser != null)
    {
        userName = currentUser.FirstName + " " + currentUser.LastName;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + userName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-white text-decoration-none" })
            </li>
            &nbsp; &nbsp;
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="text-white text-decoration-none">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>| @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="text-white text-decoration-none"})</li>
        &nbsp; &nbsp;
        <li class="text-white text-decoration-none">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="text-white text-decoration-none" })</li>
    </ul>
}