@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1 class="text-center mt-4 mb-3">Broken Instrument?</h1>
            <p>Lucky for you, we specialize in instrument repair! We repair a range of instruments, from drums, to guitars, to tubas, we do it all!</p>
            <p>Just book a reservation at one of our many locations and one of our instrument repair specialists will tend to the needs of your broken instrument!</p>
            <p>Costs will vary based on the instrument and the condition that it is in, but we will do our best to make your experience with FixIt4U as seamless and accomodating as possible.</p>
            <br />
            <p class="text-center">@Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-dark btn-lg text-center m-auto" })</p>
            <p class="text-center">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-dark btn-lg text-center m-auto" })</p>
        </div>
        <div class="col-md-6 text-center mt-4">
            <img src="~/Content/images/brokenPianoPersonless.jpg" class="rounded-3 img-fluid" alt="A destroyed piano." />
            <p><em>Something like this might take a little extra work...</em></p>
        </div>
    </div>
    <div class="row text-center">
        <div class=" offset-md-2 text-center"></div>
    </div>
</div>