
@{
    ViewBag.Title = "Unresolved";
}

<h2 class="viewHeader"> Oh no! Something went wrong! </h2>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Content/images/error.jpg"/>
        </div>
    </div>
</div>
