body {
    background-color: hsl(46,37%,83%) !important;
}
/*#region Admin Side Nav*/
.sidenav {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
    z-index: 0;
    width: 0;
    overflow-x: hidden; /*if content overflows the horizontal width of the container, that content will disappear at the edge of that container.*/
    padding-top: 100px;
    transition: .5s;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2em;
}

.sidenav a {
    font-size: 1.5em;
    display: block;
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    color: #818181;
    transition: .3s;
}

    .sidenav a:hover {
        color: #f1f1f1;
    }

.button {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .9);
    height: 100%;
    width: 20px;
    z-index: 0;
    font-family: sans-serif;
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    top: 45%;
    left: 0;
    /*Below we rotate the text to be vertical in the button*/
    writing-mode: vertical-lr;
    color: #f1f1f1;
    font-weight: bold;
}

@media(max-width: 576px)
{
    #admin-btn{
        margin-right: 2%;
    }
}
/*#endregion*/
.col-md-offset-2 input.btn{
    margin: 1em 0;
}

.viewHeader{
    text-align: center;
    padding-top: 5%;
}

.subHeader{
    padding: 1% 0;
}

.bgroundImg {
    padding-top: 8%;
    padding-bottom: 8%;
}

.instrumentPhoto{
    border: solid black .05em;
    border-radius: 2rem;
    margin-bottom: 5%;
}

footer{
    margin-top: 3%;
}

.pageBreak {
    width: 100%;
    height: 3rem;
    background-color: #5670b3;
}

.headerTitle{
    font-size: 3rem;
}

.headerSubTitle{
    font-size: 1.5rem;
}

td.child:hover {
    background-color: white !important;
}

#dataTable_filter{
    margin-bottom: .5%;
}

.emailFail {
    background-color: rgba(210,19,34, .4);
    overflow-wrap: break-word;
}

.emailSuccess {
    background-color: rgb(209,231,221);
    margin-top: 2%;
    margin-bottom: 2%;
}

.email {
    padding: 2% 1% 0 2%;
    border-radius: 2em;
}

table.dataTable{
    border-bottom: 0 !important;
}